@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');



h1{
    font-family: "Krona One", sans-serif;
    font-size: 10px;
    color: #ffffff;
}
h2{
    font-size: 24px;
    font-style: medium italic;
    color: #000000;

}
header img{
           width: 10%;

}
main img{
        width: 1050px;

}

.Logo{
      background-color: #D9D9D9;
      size: 122px;
}